<div class="mat-typography wrapper">

    <div class="logo">
        <img src="assets/logo.png" />
    </div>

    <div class="header"
         style="text-align:center">
        <h1>
            Reactive State with NGRX
        </h1>
        <h2>
            ANGULAR CONF AUSTRALIA 2018
        </h2>
    </div>

    <mat-toolbar color="primary">
        <a mat-button
           routerLink="/home"
           routerLinkActive="active">Home</a>
        <a mat-button
           routerLink="/user"
           routerLinkActive="active">Users</a>
    </mat-toolbar>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <div class="footer">
        <mat-toolbar color='primary'>
            <span class='spacer'></span>
            <h3>
                © Copyright <a href="https://www.zware.com.au">Z Ware Development</a> {{ year }}
            </h3>
            <span class='spacer'></span>
        </mat-toolbar>
    </div>

</div>