mat-card {
    min-height: 50vh;
}

.flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.flex img {
    width: 250px;
}

.flex .logo {
    width: 350px;
}

.flex .ngrx {
    width: 205px;
}